body {
  min-height: 100%;
  padding-top: 70px;
  width: 100%;
}

.Aligner {
  display: flex;
  align-items: center;
  height: 24em;
  justify-content: center;
}

@supports not (-ms-flex: 1) {
  .Aligner {
    height: auto;
    min-height: 24em;
  }
}

.Aligner-item {
  min-width: 50%;
  max-width: 50%;
}
.Aligner-item--top {
  align-self: flex-start;
  min-width: 75%;
  max-width: 75%;
}

[type="section"]{
  display: none;
}

.footer {
  margin: 2px !important;
}
.footerbar {
  line-height: 20px !important;
  min-height: 20px !important;
  height: 20px !imporant;
}
