html,
body {
  height: 100%;
  background-color: #000000 !important;
  /* The html and body elements cannot have any padding or margin. */
}

#main {
	color: #FFFFFF !important;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -100px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 100px;
}
#footer {
  background-color: #000;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

.link{
	text-decoration:none;
}

.link a{
	padding:0;
	-webkit-transition:color,background .5s ease;
	-moz-transition:color,background .5s ease;
	-o-transition:color,background .5s ease;
	transition:color,background .5s ease;
	text-decoration:none;
	color:#C00;
}

a {
	text-decoration:none;
	color:#C00;
}

.link a:hover{
	background:#C00;
	color:#000;
	text-decoration:none;
}

a:visited{
	color:#DDD;
}

.errorfooter {
	display:block;
	text-decoration:none;
	color:#F90;
	padding-left:25px;
	font-size:12px;
}
.error{
	display:block;
	padding-top:200px;
	padding-bottom:9px;
	padding-left:25px;
	font-family:segoeui;
	color:#FFFFFF;
	font-size:36px;
}

.errorpage{
	overflow:hidden;
}
